
@{
    ViewBag.Title = "S_Grade";
}

<h2>S_Grade</h2>
<h3> please fill your marks carefully</h3>
<form method="post" action="Calculation">
    <table>
        <tr>
            <td><label>Matriculation:</label></td>
            <td><input type="number" required id="MMarks" name="MMarks" /></td>
        </tr>
        <tr>
            <td><label>Out Of:</label></td>
            <td><input type="number" required id="OMarks" name="OMarks" /></td>
        </tr>
        <tr>
            <td><label>Intermediate:</label></td>
            <td><input type="number" required id="IMarks" name="IMarks" /></td>
        </tr>
        <tr>
            <td><label>Out Of:</label></td>
            <td><input type="number" required id="IOMarks" name="IOMarks" /></td>
        </tr>
        <tr>
            <td><label>GPA/CGPA:</label></td>
            <td><input type="tel" required id="GMarks" name="GMarks" /></td>
        </tr>
        <tr>
            <td> <input type="Submit" value="Submit" /></td>
        </tr>
        <tr>
            <td> <input type="reset" value="Cancel" /></td>
        </tr>
    </table>
</form>

